<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Geocoding {{query}}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

     <link href='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css' rel='stylesheet' />

    <link rel="stylesheet" href="/static/mystyles.css">


      <script src='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js'></script>

    <script src="/static/mymapper.js"></script>
</head>
<body>

    <article class="container">
            <h1>Geocoding: &quot;{{ query }}&quot;</h1>

            <h6>Result</h6>
            <pre>{{ result | tojson }}</pre>

            <section id="mapbox-stuff">
                {% if mapmode == 'static' %}
                    {% include 'partials/map-static.html' %}
                {% elif mapmode == 'interactive' %}
                    {% include 'partials/map-interactive.html' %}
                {% endif %}
            </section>

            {% include 'partials/geoquerybox.html' %}
    </article>


</body>
</html>
